<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/rtc-cafe-client@0.0.11/dist/bundle.min.js"></script>
<script type="text/javascript">
const rtcConfig = {
  iceServers: [{
    urls: ['stun:stun.l.google.com:19302'],
  }],
};
let numPeers = 0;
const client = new rtcCafeClient.RTCCafeClient(rtcConfig);
client.joinRoom(1);
client.on(rtcCafeClient.RTC_CAFE_CLIENT_EVENT_MESSAGE, function({ sender, message }) {
  var senderElement = document.createElement("div");
  senderElement.innerText = sender;
  var messageElement = document.createElement("div");
  messageElement.innerText = message;
  var messageList = document.getElementById("messageList");
  messageList.appendChild(senderElement);
  messageList.appendChild(messageElement);
});
client.on(rtcCafeClient.RTC_CAFE_CLIENT_EVENT_CONNECT_TO_PEER, function(sid) {
  var peerElement = document.createElement("li");
  peerElement.innerText = sid;
  peerElement.setAttribute('data-sid', sid);
  document.getElementById('peerList').appendChild(peerElement);
  document.getElementById('sendButton').removeAttribute('disabled');
});
client.on(rtcCafeClient.RTC_CAFE_CLIENT_EVENT_REASSIGN_PEER_SID, function(oldSid, sid) {
  var peerElement = document.querySelector('[data-sid="'+oldSid+'"]');
  peerElement.setAttribute('data-sid', sid);
  peerElement.innerText = sid;
});
client.on(rtcCafeClient.RTC_CAFE_CLIENT_EVENT_DISCONNECT_FROM_PEER, function(sid) {
  document.querySelector('[data-sid="'+sid+'"]').remove();
  numPeers -= 1;
  if (numPeers == 0) {
    document.getElementById('sendButton').setAttribute('disabled', 'disabled');
  }
});
function onMessageSubmit(e) {
  client.sendMessage(e.target.children.messageInput.value);
  e.preventDefault();
  return false;
} 
</script>

<style type="text/css">
#messageList {
  display: grid;
  grid-template-columns: 500px auto;
}
</style>

<h2>Peers:</h2>
<ul id="peerList">
</ul>

<h2>Messages</h2>
<div id="messageList">
  <div>Sender:</div>
  <div>Message:</div>
</div>

<br />

<form onsubmit="onMessageSubmit(event)">
  <input type="text" name="messageInput" />
  <button id="sendButton" disabled>Send</button>
</form>
